# **Creating, Reading and Writing**

## **Introduction**
In this micro-course, we will look into pandas, the most popular Python Library for data analysis. 
Along the way, you'll complete several hands-on exercise with real - world data.

In [2]:
import pandas as pd

## Creating Data

There are two core objects in pandas: the **DataFrame** and the **Series**

#### Data Frame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column. <br>

For example, consider the following simple DataFrame:

In [3]:
pd.DataFrame({'Yes': [50,21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In this example, the `0, No` entry has the value of 131. The `0, Yes` entry has a value of 50, and so on. <br>
DataFrame entries are not limited to integers. For instance, here's a DataFrame whose values are strings:

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 'Sue':['Pretty good', 'Bland']})

            Bob          Sue
0   I liked it.  Pretty good
1  It was awful        Bland

We are using the `pd.DataFrame()` constructor to generate these DataFrame objects. The syntax for declaring a new one is a dictionary whose keys are the column names (`Bob` and `Sue` in this example), and whose values are a list of entries. This is the standard way of constructing a new DataFrame, and the one you are most likely to encounter.

The dictionary-list constructor assigns values to the _columns labels_, but just uses an ascending count from (0, 1, 2, 3 ....) for the row labels. Sometimes this is OK, but oftentimes we will want to assign these labels ourselves. <br>
The list of row lables used in a DataFrame is known as an **Index**. We can assign values to it by using an `index` parameter in our constructor.

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 
              'Sue': ['Pretty goo', 'Bland']},
             index=['Product A', 'Product B'])

                    Bob         Sue
Product A   I liked it.  Pretty goo
Product B  It was awful       Bland

#### Series
A Series, by contrast, is a sequence of data values. If a DataFrame is table, a Series is a list. And in fact you can create one with nothing more than a list.

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an `index` parameter. However, a Series does not have a column name, it only has one over all name:

In [7]:
pd.Series([30, 35, 40], index=['2025 Sales', '2016 Sales','2017 Sales'], name = 'Product A')

2025 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

The Series and the DataFrame are initmately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together". We'll see more of this in the next section of this tutorial

## **Reading data files**
Being able to create a DataFrame or Series by hand is handy. But, most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file. When you open a CSV file you get something that looks like this:

```
Product A, Product B, Product C, 
30, 21, 9, 
35, 34, 1, 
41, 11, 11
```

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Seperated Values", or CSV.

In [8]:
wine_reviews = pd.read_csv("../data/winemag-data-130k-v2.csv")

In [9]:
wine_reviews.shape

(129971, 14)

In [10]:
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

The `pd.read_csv( )` function is well-endowed, with over 30 optional parameters you can specify. For example, you can see in this dataset that the CSV file has a built-in index, which pandas did not pick up on automatically. To make pandas use column for the index (instead of creating a new one from scratch) we can specify an `index_col`.

In [11]:
wine_reviews = pd.read_csv("../data/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]