# **Creating, Reading and Writing**

## **Introduction**
In this micro-course, we will look into pandas, the most popular Python Library for data analysis. 
Along the way, you'll complete several hands-on exercise with real - world data.

In [2]:
import pandas as pd

## Creating Data

There are two core objects in pandas: the **DataFrame** and the **Series**

#### Data Frame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column. <br>

For example, consider the following simple DataFrame:

In [3]:
pd.DataFrame({'Yes': [50,21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In this example, the `0, No` entry has the value of 131. The `0, Yes` entry has a value of 50, and so on. <br>
DataFrame entries are not limited to integers. For instance, here's a DataFrame whose values are strings:

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 'Sue':['Pretty good', 'Bland']})

            Bob          Sue
0   I liked it.  Pretty good
1  It was awful        Bland

We are using the `pd.DataFrame()` constructor to generate these DataFrame objects.